:root{
    --primary-color: #FF685B;
    --secondary-color: #2B88D9;
    --text-black: #000000;
    --text-light: #737373;
    --text-white: #ffffff;
    --accent-color: #FF685B;
    --accent-dark: #E74040;
    --nav-color: #252B42;
    --bg-light: #fafafa;
    --bg-light2: #F1F1F1;
    --light-blue: #E5F9F7;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1{
    font-size: 52px;
    font-weight: 700;
}

h2{
    font-size: 44px;
    font-weight: 700;
}

h3{
    font-size: 38px;
    font-weight: 700;
}

h4{
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 769px){
    h1{
        font-size: 32px;
        font-weight: 700;
    }
    
    h2{
        font-size: 28px;
        font-weight: 700;
    }
    
    h3{
        font-size: 25px;
        font-weight: 700;
    }
    
    h4{
        font-size: 00px;
        font-weight: 700;
    }
}

p{
    margin-bottom: 10px !important;
}

.title-separator{
    width: 80px;
    height: 3px;
    background-color: var(--accent-color);
}

.header{
    background-color: var(--bg-light); 
    padding-top: 8px;  
}

.container{
    max-width: 1440px;  
    padding: 0 40px;
}

.navbar-nav{
    align-items: center;
}

.header .nav-item a{
    color: var(--nav-color);
    font-size: 18px;
}
.header .nav-item a.active{
    color: var(--text-black) !important;
    font-weight: 600 !important;
}

.header .nav-item {
    margin-left: 30px !important;
}

.header .nav-item a{
    padding: 0 !important;
}

.text-btn{
    color: var(--accent-color);
    font-weight: 600;
}

.primary-btn{
    background-color: var(--primary-color);
    color: var(--text-white);
    font-weight: 600;
    border-radius: 0;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
}

.outline-btn{
    background-color: var(--text-white);
    color: var(--text-black);
    font-weight: 600;
    border-radius: 0;
    padding: 10px 20px;
    border: 1px solid var(--primary-color);
}

.primary-btn:hover, .primary-btn:focus, .outline-btn:hover, .outline-btn:focus{
    background-color: var(--text-black);
    color: var(--text-white);
    font-weight: 600;
    border: 1px solid var(--text-black);
}


/* hero */

.hero{
    background-color: var(--bg-light);
    padding: 80px 0;
}

#hero-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 80px;
}

.hero-banner-text{
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
}

.hero-title-text{
    font-size: 58px;
    line-height: 1.2;;
    font-weight: 700;
    color: var(--nav-color);
}

#hero-text p{
    font-size: 20px;
    font-weight: 700; 
    color: var(--text-light);
}

.hero-btn-col{
    display: flex;
    gap: 15px;  
}

.hero img{
    text-align: center;
    width: 100%;
}

.callouts-row{
    display: flex;
    gap: 40px;
    margin-top: -12%;
}

.callouts{
    padding: 40px;
    background-color: var(--text-white);
    box-shadow: 0px 13px 19px 0px #00000012;
    width: 31% !important;
}

.callouts-tl{
    font-size: 20px;
    font-weight: 700; 
    color: var(--text-black);
}

.callouts-img{
    background-color: var(--accent-dark);
    padding: 20px;
    border-radius: 50%;
    width: fit-content;
}

.callouts img{
    width: 32px;
}

@media screen and (min-width: 769px){
    .mb-col3{
        display: none;
    }
}

@media screen and (max-width: 769px) {

    .header{
        border-bottom: 1px solid var(--text-light);
        padding-top: 0;
    }
    .header .row{
        padding: 0;
        margin: 0;
    }
    .hero
    {
        padding: 40px 20px 48px 20px !important
    }
    #hero-text{
        padding: 0 !important;
        text-align: center !important;
        margin-bottom: 20px;
    }
    .hero-title-text{
        font-size: 44px;
    }
    .hero-btn-col{
       justify-content: center;
    }
    .container{
       padding: 0 20px;
    }
    .callouts-row{
        display: flex;
        flex-direction: column;
        margin-top: -15px;
        gap: 20px;
    }
    .callouts{
        padding: 20px 20px 10px 20px;
        width: 100% !important;
        text-align: center;
    }
    .callouts-img, .title-separator{
        margin: auto;
    }
    .mb-col1{
        order: 2;
    }
    .mb-col2{
        order: 1;
    }
    .mb-col3{
        order: 3;
    }
    .navbar-toggler{
        padding: 0;
        border: none;
        margin-top: 5px;
    }
    .mb-col3{
        background-color: var(--accent-color);
        display: flex;
    }
    .mb-col3 i{      
        font-size: 20px;
        color: var(--text-white);
        margin: auto;    
    }
    .mb-col1{
      display: flex;
    }
    .mb-col1 a{
        margin: auto;
    }
    .header .container{
        padding: 0;
    }
    .mb-col1{
        padding: 0;
    }
    .mb-col1{
        width: 80%;
    }
    .mb-col2, .mb-col3{
        width: 10%;
    }
    .mb-col2{
        /* padding-left: 20px; */
    }
    .modal-backdrop.show{
        opacity: .1;
    }
    .modal-backdrop{
        background-color: var(--text-white);
    }
    .header-btn-col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .header .nav-item{
        margin-left: 0 !important;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 420px){
    .hero-title-text{
        font-size: 34px;
    }
    .hero-btn-col{
        flex-direction: column;
    }
}




/* Section 2 */

#section-id2{
    padding: 80px 0;
    background-color: var(--text-white);
}

#section-id2 .row-1 h1 span{    
        color: var(--secondary-color);    
}

#section-id2 .row-1 h1{
    width: 45%;
    margin-left: auto; 
}

#section-id2 .row-1 p{
    width: 30%;
    margin-left: auto; 
}

#section-id2 .row-1 h1, #section-id2 .row-1 p {    
   text-align: right;
}

#section-id2 .row-1 h1 span{    
    color: var(--secondary-color);    
}

#section-id2 .row-2{
    justify-content: space-between;
    align-items: end;
    margin-top: -50px;
}

#section-id2 .row-2 .img-bar-col img{
    width: 100%;
}

#section-id2 .row-2 .img-bar-col1{
    width: 39%;
 }

#section-id2 .row-2 .img-bar-col2{
    width: 36%;
}

#section-id2 .row-2 .img-bar-col3{
    width: 23%;
}


@media screen and (max-width: 1500px) and (min-width: 1200px){
    #section-id2 .row-1 h1{
        width: 60%;
        margin-left: auto; 
    }
    
    #section-id2 .row-1 p{
        width: 38%;
        margin-left: auto; 
    }
}

@media screen and (max-width: 769px) {

    #section-id2 .row-1 h1, #section-id2 .row-1 p{
        width: 100%;
    }

    #section-id2 {
        padding: 34px 0 26px 0;
    }

    #section-id2 .row-2{
       margin-top: 20px;
    }

    #section-id2 .row-2 .img-bar-col{
        width: 100% !important;
    }
    #section-id2 .row-1 h1, #section-id2 .row-1 p {    
        text-align: center;
     }
    
     #section-id2 .row-2 .img-bar-col img{
       margin-bottom: 20px;
    }
    .img-bar-col1, .img-bar-col3{
        display: none;
    }
}

@media screen and (max-width: 420px){
   
}


/* sectiom 3 */

#section-id3{
    padding: 80px 0;
    background-color: var(--light-blue);
}

#section-id3 .callouts-top-cnt{
    margin-bottom: 20px;
}

#section-id3 .callouts-row2{
    display: flex;
    gap: 20px;
}

#section-id3 .callouts-full {
    background-color: var(--text-white);
    width: 32.3%;
}

#section-id3 .callouts-full img{
    width: 100%;
}

#section-id3 .callouts-full .callout-full-col{
    padding: 20px;
}


@media screen and (max-width: 769px) {

    #section-id3 {
        padding: 40px 0 46px 0;
    }

    #section-id3 .callouts-row2{
       flex-direction: column;
    }

    #section-id3 .callouts-full{
        width: 100% !important;
    }

    #section-id3 .callouts-top-cnt, #section-id3 .callout-full-col {    
        text-align: center;
     }
    
     #section-id3 .callouts-top-cnt{
       margin-bottom: 10px;
    }
}



/* section 4 */

#section-id4{
    padding: 80px 0;
}

#section-id4 .row-3{
    display: flex;
    align-items: center;
}

#section-id4 img{
    width: 100%;
}

@media screen and (max-width: 769px) {

    #section-id4 {
        padding: 46px 0 34px 0;
    }

    #section-id4 .row-3{
       flex-direction: column;
       text-align: center;
    }

}



/* section 5 */

.pattern-bg{
    background: url('../img/blue-pattern.jpg');
    padding: 80px 0 60px 0;
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: center;
}

.pattern-bg .number-callout-top-cnt{
    font-size: 30px;
    color: var(--text-white);
    margin-right: 20px;  
}

.pattern-bg .number-callout-row2{
    display: flex;
}

.pattern-bg .number-callout{
    display: flex;
}

.pattern-bg  .number-callout1{
    padding: 40px 20px 20px 0;
}

.pattern-bg  .number-callout2{
    padding: 40px 0px 20px 20px;
}

.pattern-bg  .number-col{
    align-items: flex-start;
    display: flex;
}

.pattern-bg .number-callout span{
    font-size: 70px;
    color: var(--text-white);
    font-weight: 700;
    margin-right: 20px;
    line-height: 1;
}

.pattern-bg .number-callout .num-call-tl{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-white);  
    margin-bottom: 8px !important;
}
.pattern-bg .number-callout p{
    color: var(--text-white);  
}

@media screen and (max-width: 1600px) and (min-width: 1200px){
    .pattern-bg{
        background: url("../img/blue-pattern-rs.jpg");
        padding: 80px 0 60px 0;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media screen and (max-width: 769px) {

    .pattern-bg {
        padding: 36px 0 36px 0;
        background-image: none !important;
        background-color: #5A9AD2;
        text-align: center;
    }
    .pattern-bg .number-callout {
        flex-direction: column;
        text-align: center;
        padding: 0 !important;
        margin-top: 20px;
    }
    .pattern-bg .number-col{
        justify-content: center;
    }

}


@media screen and (max-width: 450px){
    .pattern-bg .number-callout span {
        font-size: 48px;
    }

    .pattern-bg .number-callout-top-cnt{
        font-size: 22px;
        margin-right: 0 !important;
    }
}



/* Testimonials */


#section-id6{
    padding: 80px 0 80px 0;
    text-align: center;
}

#section-id6 .client-top-cnt .feedback{
    /* font-size: 18px; */
    padding: 5px 10px;
    margin-bottom: 8px !important;
    border: 1px solid var(--text-black);
    margin-bottom: 15px !important;
    width: fit-content;
    margin: auto;
}

#section-id6 .client-top-cnt p{
    font-size: 30px;
    font-weight: 600;
    width: 38%;
    margin: auto;
}

.client-info-row,  .client-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.carousel-inner{
    width: 55%;
    margin: auto;
}

.client-container{
    padding: 40px;
    background-color: var(--bg-light2);
}

.client-info-row{
    border-bottom: 1px solid #CDCDCD;
    padding: 0 12px 12px 12px;
    justify-content: center;
}

.client-col1{
    width: 80%;
    padding: 0;
}

.client-col2{
    width: 20%;
    padding: 0;
    display: flex;
    justify-content: end;
}

.client-info{
    text-align: left;
    align-items: center;
    margin-left: 15px;
}

.client-info p{
    margin-bottom: 0 !important;
}

.client-row img{
    border-radius: 50%;
}

.client-info span{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black);
}

.client-content{
    padding: 15px 0 0 0;
}

.client-content , .ratings{
    text-align: left;
}

.client-content .fa-star{
    color: #FBB837;
}

.carousel-indicators [data-bs-target]{
    height: 10px;
    width: 10px;
    border-radius: 50%;
}


@media screen and (max-width: 769px){

    #section-id6{
        padding: 48px 0 48px 0;    
    }

    #section-id6 .client-top-cnt p{
        font-size: 22px;
        width: 100%;
    }
    .carousel-inner {
        width: 100%;
        margin: auto;
    }
    .client-col2{
        display: none;
    }
}

@media screen and (max-width: 420px){
    .client-info-row, .client-row{
       justify-content: left;
        text-align: left;
        gap: 10px;
       
    }
    .client-col1,  .client-info{
        width: 100%;
        justify-content: left;
        gap: 15px;
    }
    .client-row img{
        margin-right: auto;
    }
  
}



/* contact form */

#section-id7{
    background-image: url("../img/form-bg.png");
    background-size: cover;
    padding: 80px 0;
}

#section-id7 .contact-form-top h2{
    color: var(--text-white);
}

#section-id7 form{
    display: flex;
    flex-direction: column;
}

#section-id7 .form-row {
    display: flex;
    gap: 15px;
    width: 100%;
}

#section-id7 .form-row .form-col{
    width: 33%;
}

#section-id7 .form-row input, #section-id7 textarea{
    width: 100%;
    margin-top: 15px;
}

#section-id7 .form-row input{
    height: 52px;
    padding: 0 10px 0 10px;
}

#section-id7 textarea{
    padding: 10px;
}

.submit{
    margin-top: 30px;
}

@media screen and (max-width: 769px){ 

    #section-id7{
        padding: 44px 0 44px 0;
    }

    #section-id7 .form-row {
       flex-direction: column;
       gap: 0;
    }
    
    #section-id7 .form-row .form-col{
        width: 100%;
    }

}


#footer{
    padding: 80px 0 68px 0;
    background-color: var(--light-blue);
}

.site-links-col{
    display: flex;
    flex-direction: column;
}

.site-links-col1 p{
    width: 75%;
}

.site-links-col1 i{
    background-color: var(--text-white);
    padding: 12px;
    margin-right: 10px;
    font-size: 20px;
    color:  var(--secondary-color);
    margin-top: 8px;
}

.site-links-col1 i:hover{
    background-color: var(--text-black);
    padding: 12px;
    margin-right: 10px;
    font-size: 20px;
    color:  var(--text-white)
}

.site-links-col span{
    font-size: 20px;
    font-weight: 600;
    color:  var(--text-black)
}

.site-links-col a{
    font-size: 18px;
    color:  var(--text-light) !important;
    text-decoration: none;
    margin-bottom: 12px;
}

.site-links-col a:hover{
    color: var(--accent-color) !important;
}


@media screen and (max-width: 769px){ 

    #footer{
        padding: 36px 0 28px 0;
        background-color: var(--light-blue);
        text-align: center;
    }
    .site-links-col1 p {
        width: 100%;
    }
    .site-links-col span{
        margin-top: 15px;
    }
    .site-links-col1 i{
        margin: 10px 0;
    }
}